div.six
  display: flex
  flex-wrap: wrap
  flex-direction: column
  align-items: center
  justify-content: space-around
  background-image: url(./../../img/six.jpg)
  background-position: 50% 50%
  background-repeat: no-repeat
  background-size: auto
  width: 100%
  height: 100%
  text-align: start
  padding-left: 150px

  p
    align-self: flex-start

    font-size: 25px

  form
    align-self: flex-start

  > img
    margin: 0 auto
    width: 80%


