.three.threeUp
  background-color: #4F5F6C !important
  justify-content: center
  img
  width: 80%
  margin: auto

.three.threeDown
  background-color: gainsboro
  text-align: start
  justify-content: center
  h1
    font-size: 35px
    margin-bottom: 40px
  ul
    list-style-type: disc

@media screen and (max-width: 800px)
  .three.threeUp img
    width: 100%
    margin: auto